body {
    font-family: 'Barlow Condensed', sans-serif;

    margin: 0px;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction:  row;

    width: 100vw;
    height: 100vh;
}

.wrap-inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.left-picture-container {
    background-image: url(./images/mainpicture.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 200px;
    padding: 15px 0;
}

h1{
    color: white;
}

.logo-picture {
    width: 50px;
    height: 70px;
}

.right-container {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 66px;
    color: whitesmoke;
    background: rgb(10,1,15);
    background: linear-gradient(90deg, rgba(10,1,15,1) 0%, rgba(43,8,56,1) 35%, rgba(47,0,62,1) 100%);
}

.header-container {
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 50px;
    font-size: 20px;
}


form input {
    width: 250px;
    height: 20px;
    border: none;
    border-radius: 2px;
}

#email {
    max-width: auto;
}