body {
    font-family: 'Barlow Condensed', sans-serif;

    margin: 0px;
}

.container {
    min-width: 900px;
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    flex-direction:  row;
}

.wrap-inputs {
    display: flex;
    flex-direction: row;
}

.main-picture {
    width: 40vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 50px;
}


form input {
    width: 250px;
    height: 30px;
}
#email {
    max-width: auto;
}